.header-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 5vw;
    width: calc(100% - 5vw);
    height: 7vh;
    background-color: rgb(50, 51, 58);
  }
  
  .search {
    display: flex;
    border-radius: 10px;
    /* background-color: rgb(72, 73, 75); */
    margin: 0 1.5rem;
    width: 100%;
    border: none;
    align-items: center;
    font-size: 1.5rem;
  }
  .search input,
  button {
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
    color: black;
  }
  
  .header-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(27, 27, 27);
    cursor: pointer;
    /* height: 95vh; */
    font-size: 2rem;
    gap: 1.5rem;
    padding: 1rem;
    margin: 0 1rem;
  }
  @media screen and (max-width: 768px) {
    .header-container {
      left: 0;
      width: 100%;
    }
  }